* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #FFB900
}

/* common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    padding: 0 16px;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 999px;
    background: #171100;
    line-height: 50px;
    min-width: 118px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading-h2 {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.76px;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2{
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* header */
.header {
    background: #FFFCF4;
}

.header.fixed {
    z-index: 1;
    position: sticky;
    top: -28px;
}

.header .body-header {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    padding: 8px 21px;
    position: relative;
}

.nav li.active a,
.nav a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
    display: block;
    left: 21px;
    bottom: 6px;
}

.header .btn-sign-up {
    min-width: 144px;
}

.header .action{
    margin-left: 49px;
}

/* hero */
.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img{
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .hero-sumary {
    position: absolute;
    right: 0;
    bottom: 48px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    width: 270px;
    height: 244px;
    padding: 24px;
}

.hero .hero-sumary .item {
    display: flex;
    align-items: center;
}

.hero .hero-sumary .item+.item {
    margin-top: 22px;
}

.hero .hero-sumary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF9E8;
}

.hero .hero-sumary .item .icon2 {
    background-color: #FCEFFF;
}

.hero .hero-sumary .item .icon3 {
    background-color: #EBEAFF;
}

.hero .hero-sumary .item .info {
    margin-left: 16px;
}

.hero .hero-sumary .label{
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.hero .hero-sumary .title{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* hero right */
.hero .content-block{
    width: 52%;
    padding-left: 130px;
    padding-top: 64px;
}

.hero .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero .description{
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7; /* 166.667% */
}

.hero .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .cta-group .btn-courses {
    background-color: var(--primary-color);
    min-width: 180px;
    line-height: 64px;
}

.hero .cta-group .watch-video {
    border: none;
    display: flex;
    background: transparent;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.hero .cta-group .watch-video .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .cta-group .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.hero .description-recent{
    margin-top: 48px;
}

.hero .stats {
    margin-top: 8px;
}

.hero .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
    margin-right: 15px;
}

.hero .stats strong:nth-child(2){
    margin-left: 28px;
}

/* popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .description {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: #FFF;
    cursor: pointer;
}

.popular .popular-course-list{
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}

.popular .course-item:hover {
    border-radius: 12px;
    background: #FFF;
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumbnail{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    height: 278px;
    object-fit: cover;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .foot,
.popular .course-item .rating,
.popular .course-item .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .course-item .title a{
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .rating .value{
    margin-left: 6px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.popular .course-item .description{
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.popular .course-item .foot{
    margin-top: 12px;
}

.popular .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.popular .foot .btn-book {
    border: none;
}

.popular .foot .btn-book:hover {
    background: var(--primary-color);
}

/* feedback */
.feedback {
    margin-top: 135px;
    background: #2E2100;
    padding: 96px 0;
}

.feedback-lists {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .member{
    color: #F7F7F7;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.feedback-item .info .description{
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
    gap: 6px;
}

.feedback-item .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dots .dot.active{
    background: var(--primary-color);
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote{
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54; /* 153.846% */
}

/* features 1 */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body{
    display: flex;
    justify-content: space-between;
}

.features .images{
    display: flex;
    gap: 30px;
}

.features .images img{
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images .lower{
    margin-top: 34px;
}

.features .content{
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features .content .description{
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.features .content .btn-signup{
    margin-top: 32px;
    width: 137px;
    height: 50px;
    background: var(--primary-color);
    color: #FFF;
}

/* features 2 */
.features-2nd{
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features .content .btn-join_now{
    margin-top: 32px;
    width: 137px;
    height: 50px;
    background: var(--primary-color);
    color: #FFF;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}

/* our blog */
.our-blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #FFFCF4;
}

.our-blog .blog-top{
    text-align: center;
}

.our-blog .blog-top .description{
    color: #696262;
    width: 35%;
    font-size: 1.6rem;
    margin: 16px auto 0;
    line-height: 1.75; /* 175% */
}

.our-blog .blog-lists{
    margin-top: 55px;
    display: flex;
    gap: 30px;

}

.blog-lists .blog-item {
    width: 33.3333%;
    background: #FFF;
}

.blog-lists .blog-item:hover{
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-lists .blog-item .thumbnail {
    width: 100%;
    border-radius: 16px 16px 0px 0px;
    height: 250px;
    object-fit: cover;
}

.blog-lists .blog-item .info {
    padding: 20px 20px 28px;
}

.blog-lists .blog-item .date{
    display: inline-flex;
    align-items: center;
    color: #5F5B53;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
    position: relative;
    padding-bottom: 12px;
}

.blog-lists .blog-item .date::before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-right: 4px;
}

.blog-lists .blog-item .date::after{
    content: "";
    right: -27px;
    height: 1px;
    display: inline-block;
    border-radius: 0.5px;
    background: #E2DFDA;
    left: 0;
    bottom: 0;
    position: absolute;
}

.blog-lists .blog-item .title{
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.blog-lists .blog-item .btn-read-more{
    margin-top: 12px;
}

.blog-lists .blog-item .btn-read-more:hover{
    background-color: var(--primary-color);
}